@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Playfair+Display:wght@700&display=swap');

html {
  height: 100%;
}
input, textarea{
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 8px;
  margin: 2px;
}

button{
  background-color: rgb(141, 129, 129); 
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
  transition-duration: .4s;
  margin: 3px;
}

button:hover {
  background-color: #ffffff; 
  color: rgb(141, 129, 129);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom right, rgb(99, 70, 179), rgb(92, 173, 211));
  /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8); */
  background: rgb(236, 229, 248);  
  height: 100%;
  font-family: 'Crimson Text', serif;
  color: rgb(141, 129, 129);

}

h1 {
  padding: 20px;
  text-align: center;
  opacity: 40%;
  color: black;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Crimson Text', serif;
  font-size: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
}

#button-center{
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 30px;
}

#link{
  color: rgb(128, 117, 117);
  font-size: 20px;
}

#link:hover{
  color: rgb(218, 196, 196);
  cursor: pointer;
}

.memory {
  margin: 30px;
}

.memory-list {
  margin-bottom:30px;
}

#form {
  margin: auto;
  width: 50%;
  text-align: center;
}

p {
  margin: 4px;
}

h3{
  margin: 5px;
}


/* dfgjhdf */

.moving_shape {
  width: 100%;
  height: 100%;
  background: #FF0099;
  background: linear-gradient(270deg,#845ec2,#d65db1,#ff6f91,#ff9671, #ffc75f, #f9f871);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: repeat;
  background-size: auto auto;
  background-color: #ffd800;
  background-size: 1000%;
  background-repeat: repeat;
  color: #fff;
  animation: bg-move 30s linear infinite forwards, 
  border-move 15s linear infinite forwards;
}

.container {
z-index: -1;
height: 200px;
width: 200px;
/* position:absolute; */
left:50%;
top: 50%;
transform: translate(-50%,-50%);
}

@keyframes bg-move{0%{background-position:0 50%}50%{background-position:100% 50%}to{background-position:0 50%}}

@keyframes border-move{
0%{ border-radius:51% 49% 34% 66% / 39% 66% 34% 61%; }
10%{ border-radius:39% 61% 38% 62% / 53% 54% 46% 47%; }
20%{ border-radius:56% 44% 52% 48% / 57% 35% 65% 43%; }
30%{ border-radius:41% 59% 45% 55% / 33% 56% 44% 67%; }
40%{ border-radius:46% 54% 60% 40% / 55% 74% 26% 45%; }
50%{ border-radius:44% 56% 22% 78% / 31% 74% 26% 69%; }
60%{ border-radius:31% 69% 32% 68% / 31% 71% 29% 69%; }
70%{ border-radius:44% 56% 60% 40% / 63% 36% 64% 37%; }
80%{ border-radius:46% 54% 38% 62% / 44% 48% 52% 56%; }
90%{ border-radius:66% 34% 57% 43% / 49% 51% 49% 51%; }
100%{ border-radius:51% 49% 34% 66% / 39% 66% 34% 61%; }
}